@import '../../../../style/configs/color.scss';
.container-mainstate {
    margin-top: 35px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    padding: 0 25px 0 25px;    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .div-state {
        width: 475px;
        @media (min-width:918px) {
            margin-right: -242px;
        }
        @media (min-width:1500px) {
            margin-right: -374px;
        }

        div {
            p {
                display: inline-block;
            }
        }
        .div-state-label {
            opacity: 0.5;
            font-family: Gilroy-Light;
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #000000;            
        }
        .div-state-value {
            font-family: DINPro-Medium;
            font-size: 74px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -1.9px;
            text-align: left;
            color: #d1d1d1;            
        }
        .black {
            opacity: 0.7;
            color: #000000;
        }
        .div-mark {
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .div-state-btngroup {
        padding-top: 15px;
        button:first-child {
            margin-right: 11px;
        }
        button {
            display: inline-block;
            margin-bottom: 10px;
        }
        
    }
}