.span-currency {
  div {
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    font-family: DINPro-Medium;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-align: center;
    color: #ffffff;
    background-color: #0bd080;
  }
}
