
$color-black:            #4A4A4A;
$color-grey:             #7F7F7F;
$color-grey-light:       #BFBFBF;
$color-grey-background:  #ECECEC;
$color-green:            #0BD080;
$color-blue:             #0BD0CD;
$color-yellow:           #B2D94C;
$color-error:            #BB3927;
$color-error-light:      #F34830;