@font-face {
  font-family: "DINPro-Medium";
  src: url("../assets/fonts/DIN-Pro/DINPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Regular";
  src: url("../assets/fonts/DIN-Pro/DINPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Bold";
  src: url("../assets/fonts/DIN-Pro/DINPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Light";
  src: url("../assets/fonts/DIN-Pro/DINPro-Light.otf") format("opentype");
}

/* Importing Rubik */
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
