
@font-face {
  font-family: 'Gilroy-Light';
  src: url('../assets/fonts/Gilroy/Gilroy-Light.otf'),
      //  url('../assets/fonts/Gilroy-Light.otf') format('opentype');
  
}


@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../assets/fonts/Gilroy/Gilroy-Medium.otf'),
      //  url('../assets/fonts/Gilroy-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('../assets/fonts/DIN-Pro/DINPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('../assets/fonts/DIN-Pro/DINPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('../assets/fonts/DIN-Pro/DINPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro-Light';
  src: url('../assets/fonts/DIN-Pro/DINPro-Light.ttf') format('opentype');
}

// @font-face {
//   font-family: 'DINPro-Light';
//   src: url('../assets/fonts/DIN-Pro/DINPro-Light.otf') format('opentype');
// }


// @font-face {
//   font-family: 'Gilroy-LightItalic';
//   src: url('../assets/fonts/Gilroy-LightItalic.ttf');
// }

// @font-face {
//   font-family: 'GilroyBlack-Italic';
//   src: url('../assets/fonts/Gilroy-BlackItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-Bold';
//   src: url('../assets/fonts/Gilroy-Bold.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-BoldItalic';
//   src: url('../assets/fonts/Gilroy-BoldItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-ExtraBold';
//   src: url('../assets/fonts/Gilroy-ExtraBold.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-ExtraBoldItalic';
//   src: url('../assets/fonts/Gilroy-ExtraBoldItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-Heavy';
//   src: url('../assets/fonts/Gilroy-Heavy.ttf');
// }


// @font-face {
//   font-family: 'Gilroy-HeavyItalic';
//   src: url('../assets/fonts/Gilroy-HeavyItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-HeavyItalic';
//   src: url('../assets/fonts/Gilroy-HeavyItalic.ttf');
// }


// @font-face {
//   font-family: 'Gilroy-MediumItalic';
//   src: url('../assets/fonts/Gilroy-MediumItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-Regular';
//   src: url('../assets/fonts/Gilroy-Regular.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-RegularItalic';
//   src: url('../assets/fonts/Gilroy-RegularItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-SemiBold';
//   src: url('../assets/fonts/Gilroy-SemiBold.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-SemiBoldItalic';
//   src: url('../assets/fonts/Gilroy-SemiBoldItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-Thin';
//   src: url('../assets/fonts/Gilroy-Thin.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-ThinItalic';
//   src: url('../assets/fonts/Gilroy-ThinItalic.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-UltraLight';
//   src: url('../assets/fonts/Gilroy-UltraLight.ttf');
// }

// @font-face {
//   font-family: 'Gilroy-UltraLightItalic';
//   src: url('../assets/fonts/Gilroy-UltraLightItalic.ttf');
// }

// @font-face {
//   font-family: 'DINPro-Bold';
//   src: url('../assets/fonts/DINPro-Bold.ttf');
// }

// @font-face {
//   font-family: 'DINPro-Light';
//   src: url('../assets/fonts/DINPro-Light.ttf');
// }

// @font-face {
//   font-family: 'DINPro-Medium';
//   src: url('../assets/fonts/DINPro-Medium.ttf');
// }

// @font-face {
//   font-family: 'DINPro-Regular';
//   src: url('../assets/fonts/DINPro-Regular.ttf');
// }

// @font-face {
//   font-family: 'MaisonNeue-Medium';
//   src: url('../assets/fonts/MaisonNeue-Medium.ttf');
// }

// @font-face {
//   font-family: 'Mason_DemiBold';
//   src: url('../assets/fonts/Mason_DemiBold.ttf');
// }

