.ExploreWrapper{
    @media (min-width: 1200px) {
        max-width: 1180px;
    }
    @media (min-width: 1400px) {
        max-width: 1280px;
    }

    .lbl-label {
        //margin-left: 15px;
        margin-bottom: 40px;
        font-family: Gilroy-Medium;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        text-align: left;
        color: #4A4A4A;        
    }
    .row-status {
        margin-bottom: 47px;
    }
}