.div-mark {
  span {
//        width: 69px;
        height: 30px;
        padding-left: 8px;
        padding-right: 7px;
        padding-top: 3px;
        border-radius: 2px;
        font-family: DINPro-Bold;
        font-size: 20px;
        // font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.3px;
        color: #ffffff;      
        background-color:#0bd080;
  }
  .small-mark {
    height: 29px;
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 1px;
  }
}