
.ViewStakerWrapper {
    padding-top: 70px;
    .div-no-result {
        opacity: 0.75;
        font-family: Gilroy-Light;
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
        color: #000000;   
    }
    .table-data {
        border-collapse: collapse;
        display: table;
        border-spacing: 2px;
        border-color: grey;
        text-align: center!important;
        
        th {
            border-top: none;
            opacity: 0.75;
            font-family: Gilroy-Medium;
            font-size: 17px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: normal;
            text-align: left;
            color: #000000;   
            cursor: pointer;
            
            img {
                margin-left: 13px;
                cursor:pointer
            }
            .div-search-edit {
                margin-left: 5px;
                display: inline-block;
                width: 154px;
                border-radius: 2px;
                background-color: #f1f1f1;    
                padding-left: 5px;
                padding-right: 2px;
                input {
                    width: 130px;
                    padding: 0;
                    border: none;
                    background: transparent;                    
                }            
                img {
                    margin-top: -3px;
                    margin-left: 4px;
                    cursor:pointer;
                }
            }
        }
//         th span:hover {
//             background-color: #ECECEC;
// //            opacity: 0.2;
//         }
        td {
            height: 80px;
            vertical-align: middle;
            opacity: 0.75;
            font-family: HelveticaNeue;
            font-size: 17px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;            
        }
    }
    .div-view-button {
        right: 246px;
        bottom: 44px;
        display: flex;
        align-items: center;
        justify-content: center;    
        .btn {
            display: inline-block;  
            margin-right: 13px;
            margin-bottom: 20px;
        }
        @media (min-width :768px) {
            position: fixed;
        }
    }    
}

