.TableTransactionWrapper {
    margin-bottom: 40px;
    border-radius: 2px;
    box-shadow: 3px 9px 15px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #ededed;
    background-color: #ffffff;

    .table-trans {
        border-collapse: collapse;        
        thead tr {
            th {
                height:65px;
                padding: 17px 10px 17px 18px;
                border-bottom: solid 1px #ededed;
                border-top: none;
                font-family: Gilroy-Medium;
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #4A4A4A;
                background-color: #ffffff;
                
                img {
                    margin-left: 13px;
                    cursor:pointer;
                }
            }
        }
        tbody {
            td {
                height: 60px;
                padding: 12px 10px 10px 14px;
                border-bottom: solid 1px #ededed;
                font-family: 'DINPro-Medium';
                font-size: 18px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #4A4A4A;
                a {
                    text-decoration: none;
                    color: #4A4A4A;
                    background-color: rgba(27,31,35,.05);
                    border-radius: 3px;
                    font-size: 95%;
                    margin: 0;
                    padding: .2em .4em;
                    font-family: "Courier";
                }
                a:hover {
                    color: lighten(#4A4A4A, 20%);
                }
                span {
                    width: 39px;
                    height: 30px;
                    padding: 3px 5px;
                    border-radius: 2px;                    
                    letter-spacing: 1.3px;
                    color: #ffffff;   
                }
                .type-0x {
                    background-color: #00ae99;                                     
                }
                .type-Dharma {
                    background-color: #ff945d;                                     
                }
                .type-dydx {
                    background-color: #5a5a5a;                                     
                }
                .shape-circle {
                    width: 16px;
                    height: 16px;
                    background-color: #0bd080;
                    border-radius: 50%;
                    margin-right: 16px;
                    margin-top: 3px;
                }
                div {
                    display: flex;
                }

                
            }
        }
    }


}